{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,

  "tabWidth": 2,

  "useTabs": false,
  "printWidth": 80,

  "trailingComma": "all",

  "bracketSpacing": true,

  "arrowParens": "always",

  "jsxBracketSameLine": false,

  "endOfLine": "auto"
}
